html, body {		
	margin: 0px;
	min-height: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body,td,th {
	font-family: Calibri;
	font-size: 14px;
}
body {
	background-color: #FFF;
	
	background-image: url(../img/stripes_a.png);
	background-repeat: repeat;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 0px;
	border-color: rgba(0,0,0,0.04);
	border-collapse: collapse;
	width: 100%;	
}
th {
	background-color:rgba(0,0,0,0.02);
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	text-align: left;
	border-color: rgba(0,0,0,0.02);
}
tr {
	background-color:rgba(0,0,0,0);
}
td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.02);
}

h1 {
	margin-top: 5px;
    font-weight: bold;
    position: relative;   
    font-size: 24px;
    line-height: 24px;
}

h2 {
	margin-bottom: -8px;
    font-weight: bold;
    position: relative;   
    font-size: 21px;
    line-height: 21px;
}

h3 {
	margin-bottom: -8px;
    font-weight: bold;
    position: relative;   
    font-size: 18px;
    line-height: 18px; 
}

h4 {
	margin-bottom: -8px;
    font-weight: bold;
    position: relative;   
    font-size: 15px;
    line-height: 15px;	
}

a:link {
	text-decoration: none;
	color: rgba(50, 75, 100, 255);
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: rgba(50, 75, 100, 255);
}
a:active {
	text-decoration: none;
}

.search_result_title {
	padding: 3px;
	margin: 1px;
}

.number_bubble {
	border-radius: 5px;
	padding: 3px;
	width: 20px;
	background-color: rgba(0,0,0,0.015);
	margin: 1px;
	display: inline-block;	
	text-align: center;
	width
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.03);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.03);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.03);
}

.search_result_bubble {
	border-radius: 5px;
	padding: 3px;
	margin: 1px;
	display: inline-block;
	background-color: rgba(255,0,0,0.05);
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.search_result_bubble:hover {
	background-color: rgba(255,0,0,0.1);
}

.link_icon {

	display: inline-block;

}

.header {
	background-color: #CCC;	
	height: auto;
	overflow: auto;
	width: auto;
	margin: 0px;
	border-bottom: 1px solid black;
}

.button {
	height: auto;
	width: auto;
	float: left;
	margin: 0px;
	padding: 5px;	
	padding-left: 30px;
	padding-right: 10px;
	
	text-decoration: none;
	color: #EEE;
	text-shadow: 0px 0px 3px #000;
	
	vertical-align: middle;
	
	background-repeat:no-repeat;
	background-position: 5px 50%;
	background-size: 18px 18px;	
}

.button:hover {
	background-color: rgba(0,0,0, 0.1);	
	
	text-decoration: none;
	color: #FFF;
	text-shadow: 0px 0px 5px #000;
}

.search_box {
	height: auto;
	width: auto;
	float: right;
	margin: 1px;
	padding-left: 30px;
	padding-right: 10px;
	
	text-decoration: none;
	color: #EEE;
	text-shadow: 0px 0px 3px #000;
	
	vertical-align: middle;
	
	background-repeat:no-repeat;
	background-position: 5px 50%;
	background-size: 18px 18px;	
}

.img_header {
	margin: 0px;
	margin-bottom: -10px;
	margin-left:auto;
    margin-right:auto;
	height: 100px;
	width: 100px;
	

	overflow: hidden;
}

.img_header_shadow {
	height: 50px;
	width: auto;
	box-shadow:0px 0px 100px #000 inset;	
}

.img_icon {
	height: 50px;
	float: left; 
}

.img_center {
	text-align: center;
	height: 100px;
}

img { 
    max-width:100%; 
	max-height:100%;
}


.page {
	margin-left:auto;
    margin-right:auto;
	height: auto;
	width: 70%;
	min-width: 850px;
	padding: 15px;
}

.center_links {
	margin-left:auto;
    margin-right:auto;
	text-align: center;
	margin-top: 20px
}

.content {
	background-color: #FFF;	
	height: auto;
	width: auto;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	box-shadow:0px 0px 100px 0px rgba(0,0,0,0.2) inset;
	
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
	
	border: 1px solid rgba(0,0,0,0.1);
	
}

.header_footer {
	background-color: rgba(45,137,239,1);	
	height: auto;
	width: auto;
	overflow: hidden;
	
	margin: 10px;
	
	background-image: url(../img/stripes2.png);
	background-repeat: repeat;
	
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
	
	border: 1px solid rgba(0,0,0,0.1);
}

.button_container {
	height: auto;
	width: auto;
	overflow: auto;
}

.padded_box {
	padding: 5px;
	min-width: 10px;
	float: right;
}

.padded_box_left{
	padding: 5px;
	min-width: 10px;
	float: left;
}

.colour_box {
	margin-top: 3px;
	margin-bottom: 0px;
	width: 20px;
	height: 19px;
	float: right;
	background-color: #000000;
	z-index: 0;
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.25) inset;	
	
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.colour_box:hover {
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5) inset;	
}

.search_result {
	background-color: rgba(200, 200, 200, 0.01);	
	height: auto;
	width: auto;
	margin: 5px;
	padding: 5px;
	box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05) inset;
	border: 1px solid rgba(0,0,0,0.02);
	
}

canvas { 
    max-width:100%; 
	max-height:100%;
}

.canvas {
	
	
	float: right;
	display: inline-block;
}

.audio {
}

.right_box {
	margin: 5px;
	padding: 10px;
	float: right;
	text-align: center;
	width: 350px;
	display: inline-block;
}

.form_box {
	display: inline-block;
	vertical-align: top;
	width: 184px;
	height: auto;
	box-shadow:0px 0px 15px rgba(0,0,0,0.1);
	background-color: rgba(0, 0, 0, 0.01);
	margin: 10px;
	padding: 5px;
}

.add_remove_attendees {
	float: right;
	display: inline-block;
	text-align: center;
	width: 18px;
	background-color: rgba(0, 0, 0, 0.05);
}
.add_remove_attendees:hover {
	background-color: rgba(0, 0, 0, 0.1);
}


.form_element_box {
	padding: 5px;
	margin: 5px;	
	text-align: left;
	width: auto;
}

input {
	width: 150px;
	margin: 2px;	
	text-align: left;
	width: auto;
}

